*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    background: #000000;
    color: white;    
}

.tab::selection{
    animation-delay: 5ms;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(Res/BG\ 2.png);
    background-position: center;
    background-size: cover;
}

a{
    text-decoration: none;
}
.container{
    padding: 1px 5%;   
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    animation: color-animation 4s linear infinite;
}

.logos {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 50px;
    margin-top: 5px;
}
  
.logo-1 {
--color-1: #00A9A5;
--color-2: #4E8098;
--color-3: #90C2E7;
}
  
.logo-2 {
--color-1: #62B6CB;
--color-2: #CAE9FF;
--color-3: #5FA8D3;
}

@keyframes color-animation {
0%    {color: var(--color-1)}
32%   {color: var(--color-1)}
33%   {color: var(--color-2)}
65%   {color: var(--color-2)}
66%   {color: var(--color-3)}
99%   {color: var(--color-3)}
100%  {color: var(--color-1)}
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: wavy;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: cyan;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 20px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text p{
    font-size: 30px;
    margin-top: 20px;
} 

.header-text h1 span{
    color: cyan;
}

.header-text p span{
    color: #ff004f;
    font-size: 40px;
}

/* --------about---------- */
#about{
    padding: 80px 0;
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    max-height: 100%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 30px;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    font-size: 60px;
    font-weight: 30px;
    color:cyan;
    margin-bottom: 2.5%;
}

.about-col-2 p span{
    color:#afeeee ;
    font-size: 20px;
    text-decoration: none;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #afeeee;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 75%;
}

#certificates p{
    color: yellowgreen;
    font-size: 10px;
    margin-bottom: 5%;
}

.tab-contents ul li{
    list-style: none;
    margin: 29px 10px;
    font-size: 16px;
}

.tab-contents ul li span{
    color:#afeeee ;
    font-size: 20px;
    text-decoration: none;
}

.tab-contents ul li a{
    text-decoration: none;
}

.cert-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cert-row span{
    color:#afeeee ;
    font-size: 20px;
    text-decoration: none;
}

.tab-contents ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.tab-contents ul li i{
    text-decoration: none;
    color: yellowgreen;
    font-size: 10px;
}

.tab-contents{
    display: none;
}

.tab-contents::after{
    transition: 1.5s;
}

.tab-contents.active-tab{
    display: block;
}


.btn{
    display: block;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid #afeeee;
    border-radius: 15px;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}

.btn:hover{
    background-color: #ff004f;
    border-color: transparent;
}

.btn.click{
    background-color: white;
    border-color: transparent;
    color: black;
}

/* --------experience---------- */
#experience{
    padding: 30px 0;
}

.exp-fields{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}

.exp-fields div{
    background-color: #262626;
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 30px;
}

.exp-fields div:hover{
    background-color: #ff004f;
    color: black;
}

.exp-fields div a{
    color: white;
    text-decoration: none;
}
.exp-fields div i{
    font-size: 30px;
    margin-bottom: 10px;
    color: #afeeee;
}

.exp-fields div p span{
    font-size: 16px;
}

/*-------------project---------*/
#project{
    padding: 50px 0;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    grid-gap: 30px;
    margin-top: 20px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.second-row {
    grid-row: 4;
    margin-right: 30px;
}

.work img{
    width: 100%;
    max-height: 60%;
    border-radius: 30px;
    display: block;
}

.icons{
    flex-direction: row;
    font-size: 30px;
}

.icons i{
    margin-right: 10px;
    text-decoration: none;
}

.icons iconify-icon{
    margin-right: 10px;
}

.layer #repo{
    font-size: 35px;
    margin-bottom: 15px;
    text-decoration: none;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #afeeee);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 30%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer a i{
    color: white;
    text-decoration: none;
}

.work:hover img{
    transform: scale(0.8);
    border-radius: 30px;
    transition: transform 0.5s;
}

.work:hover .layer{
    height: 80%;
}

.layer ul{
    justify-content: center;
}
.layer ul li{
    margin-top: 10%;
}

/*-------------contact---------*/
#contact{
    margin-top: 50px;
}
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p a{
    color: white;
    text-decoration: none;
}

.contact-left p i{
    color: cyan;
    margin-right: 15px;
    font-size: 20px;
}

.social-icons{
    margin-top: 30px;
}
#resume::after{
    content: "Resume 01/2025";
    display: none;
    position: absolute; /* Position the tooltip relative to the button */ 
    bottom: 100%; /* Position the tooltip above the button */ 
    left: 50%; /* Center the tooltip horizontally */ 
    transform: translateX(-50%); /* Center the tooltip horizontally */ 
    background-color: white; /* Tooltip background color */ 
    color: black; /* Tooltip text color */ 
    padding: 5px; /* Add some padding to the tooltip */ 
    border-radius: 2px; /* Add rounded corners to the tooltip */ 
    white-space: nowrap; /* Prevent line breaks in tooltip text */ 
    font-size: 14px;
}

#resume:hover::after{
    display:block;
}
.social-icons a{
    color: white;
    font-size: 40px;
    margin-right: 15%;
    display: inline-block;
    transition: transform 0.5s;
} 
.social-icons a:hover{
    color: cyan;
    transform: translateY(-10px);
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
}

.contact-right span{
    color: cyan;
    display: block;
    margin-top: -20px;
}

.btn2{
    padding: 14px 30px;
    font-size: 18px;
    margin-top: 10%;
    cursor: pointer;
    background-color: transparent;
    border-color:#ff004f;
}

.copyright{
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: cyan;
}

.iframe-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 2%;
    height: 55vh;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.interactive{
    display:flex;
    justify-content: center;
}

/*-------------css for small screens---------*/
nav #fas{
    display:none;
}

@media only screen and (max-width: 800px){
    #header{
        width: 100%;
        height: 150vh;
        background-image:url(Phone\ 2.png); 
    }


    .header-text{
        margin-top: 10%;
        font-size: 15px;
    }

    .header-text h1{
        font-size:25px;
    }

    nav #fas{
        display: block;
        font-size: 20px;
        font-size: 30px;
    }

    nav ul{
        background: #262626;    
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px; 
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav #fas{
        cursor: pointer;
    }
    nav ul #fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
        margin-top: 10%;
    }

    .copyright{
        font-size: 14px;
    }

    .projects,.exp-fields{
        grid-template-columns: 100%;
    }

    .layer{
        font-size: 12px;
    }
    
    .layer .icons{
        font-size: 20px;
    }

    .layer ul{
        display: none;
        margin-bottom: 0;
    }

    .layer #repo{
        font-size: 25px;
        margin-top:3px;
    }

    .iframe-wrapper {
        position: relative;
        width: 100%;
        padding-bottom: 2%;
        height: 55vh
    }
    
    .iframe-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
    
}

